@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

.common {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

.box__float {
  float: left;
  margin-right: 50px;
}

.box__float:last-child {
  margin: 0;
}

.inner__table {
  display: table;
}

.table__text {
  vertical-align: middle;
  display: table-cell;
}

.table__text:first-child {
  padding-right: 25px;
}

.table__text:last-child {
  padding-left: 25px;
}

.inlineblock__inner {
  display: block;
}

.inner__box {
  display: inline-block;
  vertical-align: middle;
}

.inner__box:last-child {
  margin-left: 40px;
}

.inner__flex {
  display: flex;
}

.flex__box {
  margin: auto;
}

.flex__box:first-child {
  margin-bottom: 0;
}

.is-full {
  font-size: 0;
}

.is-full__box {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.is-full__left {
  width: 300px;
}

.is-full__right {
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
}
/* 回答はここに書いてね */
