@charset "UTF-8";

/* 回答はここに書いてね */
.table {
  width: 100%;
  table-layout: fixed;
}

.table th, table td {
  padding: 10px;
  border: 1px solid #dedede;
  text-align: center;
}

.table th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff
}

.table tr {
  font-size: 16px;
  line-height: 22px;
}

tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.table > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

/* 回答はここに書いてね */
