@charset "UTF-8";

/* 回答はここに書いてね */
.align .align__Align {
  text-align: center;
}

.common {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px;
}

.align__text {
  display: inline-block;
}

.q6__box__margin {
  margin: 0 auto;
  text-align: center;
}

.table {
  display: table;
}

.q6__table {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.q6__Table {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.Flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Flex__flex {
  background-color: #fff;
  padding: 10px;
}

.position {
  position: relative;
}

.position__fixed {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.position__variable {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}
/* 回答はここに書いてね */